<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Oooops!!</h1>
    <p>Something went wrong we're trying to fix it</p>

<%- include('includes/end.ejs') %>